@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  height: calc(100vh - 53px);
}

.shake-animation {
  animation: horizontal-shaking 0.3s;
}

.pop-animation {
  animation: pop 0.2s;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

@keyframes pop {
  50%  {transform: scale(1.1);}
}